<meta charset="utf-8">
<title>
      <%= title %>
</title>
<meta name="description" content="Scaffolding App">
<meta name="author" content="Your Name">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">