<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./head %>
    <%- moduleStylesheets %>
</head>

<body>
    <%- moduleContent %>
    <% include ./footer %>
    <% include ./scripts %>
    <%- moduleScripts %>
</body>

</html>