<%- contentFor('moduleStylesheets') %>
<%- contentFor('moduleContent') %>
<div id="root"></div>
<%- contentFor('moduleScripts') %>
<script src="js/application.min.js" type="application/javascript"></script>
